.title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.my-btn{
  background-color: #8FA998; 
 }
.my-btn:hover{
  background-color: #6c8174;
}

.modal-header{
  background-color: #FDFBF7;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #4A403A;
}
.modal-body{
  background-color: #FDFBF7;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #4A403A;
}
.modal-footer{
  background-color: #FDFBF7;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #4A403A;
}

.input-newsletter {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input-newsletter:focus {
  outline: none;
  border-color: #FDFBF7;
  box-shadow: 0 0 0 3px rgba(156, 39, 176, 0.2);
}

.mail{
  border: 1px solid #D4896B;
  background-color: #D4896B;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}
.mail:hover{
   background-color: #b1745c;
}

.div-ppal-workshops{
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.div-map{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #D4896B;
  box-shadow: 0 0 15px #D4896B;
  gap: 0.8rem;
  padding: 2rem;
  border-radius: 20px;
}