.title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.my-btn{
  background-color: #8FA998; 
 }
.my-btn:hover{
  background-color: #6c8174;
}

.modal-header{
  background-color: #FDFBF7;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #4A403A;
}
.modal-body{
  background-color: #FDFBF7;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #4A403A;
}
.modal-footer{
  background-color: #FDFBF7;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #4A403A;
}

.input-newsletter {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input-newsletter:focus {
  outline: none;
  border-color: #FDFBF7;
  box-shadow: 0 0 0 3px rgba(156, 39, 176, 0.2);
}

.mail{
  border: 1px solid #D4896B;
  background-color: #D4896B;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}
.mail:hover{
   background-color: #b1745c;
}

.div-ppal-workshops {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.card-workshop {
  background-color: #FDFBF7; 
  border-radius: 15px;
  padding: 1.8rem;
  width: 280px;
  text-align: center;
  box-shadow: 0 8px 20px #D4896B;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.card-workshop:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}

.card-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #4A403A;
}

.card-info {
  font-size: 0.95rem;
  color: #6C757D;
  margin: 0.3rem 0;
}



@media (max-width: 992px) {

  .title {
    padding: 2rem;
    font-size: 2.2rem;
    text-align: center;
  }

.card-workshop {
    width: 220px;
    padding: 1.5rem;
  }
  .mail {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {

  .title {
    padding: 1.5rem;
    font-size: 1.8rem;
  }

  h2 {
    text-align: center;
    font-size: 1.4rem;
  }

  p {
    text-align: center;
    font-size: 0.95rem;
  }

  .mail {
    width: 100%;
    padding: 12px;
  }
 .div-ppal-workshops {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  .card-workshop {
    width: 80%;
  }

  .mail div {
    justify-content: center;
    align-items: center;
  }

  .mail img {
    width: 28px;
    height: 28px;
  }


  .modal-body p {
    font-size: 0.95rem;
  }

  .input-newsletter {
    font-size: 14px;
  }
}

/* Movil */
@media (max-width: 480px) {

  .title {
    font-size: 1.5rem;
    padding: 1rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .my-btn {
    width: 100%;
  }

  .modal-footer {
    flex-direction: column;
    gap: 0.5rem;
  }
}