main{
  background-color: #FDFBF7;
}


.main-public{
  min-height: calc(100vh - 116px);
}
.footer-public{
  height: 60px;
  background-color: #D4896B;
}

.error-msg{
  color:red;
}

.main{
  background-color: #FDFBF7;
  min-height: calc(100vh - 116px);
}

.footer{
  height: 60px;
  background-color: #D4896B;
}

  .my-btn{
    background-color: #D4896B; 
  }
  .my-btn:hover{
    background-color: #da9c87;
  }
