@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');


body {
  font-family: 'Playfair Display', serif;
  color: #4A403A;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #FDFBF7;
}


main, .main-public {
  background-color: #FDFBF7;
  min-height: calc(100vh - 116px); 
  padding: 2rem 1.5rem;
}

@media (max-width: 768px) {
  main, .main-public {
    padding: 1rem;
  }
}


.error-msg {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}


.footer {
  min-height: 100px;
  background-color: #8FA998;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  color: #fff;
  flex-wrap: wrap;
}

.footer p, .footer a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.footer img {
  max-width: 30px;
  margin: 0 0.5rem;
}


@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  .footer p {
    font-size: 0.95rem;
  }

  .footer img {
    max-width: 25px;
    margin: 0.3rem;
  }
}


@media (max-width: 992px) {
  main, .main-public {
    padding: 1.5rem;
  }
}
