@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

body{
  font-family: 'Playfair Display', serif;
}

main{
  background-color: #FDFBF7;
}


.main-public{
  min-height: calc(100vh - 116px);
}


.error-msg{
  color:red;
}

.main{
  background-color: #FDFBF7;
  min-height: calc(100vh - 116px);
}

.footer{
  height: 100px;
  background-color: #8FA998;
}

