.ppal-div{
  width: 90%;
  text-align: center;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid #edf2f7;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  overflow: hidden;
  margin-inline-start: 4.5rem;
  margin-block-start: 2rem;
  color: #4A403A;
}

.btn-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  button{
      background-color: #8FA998;
      border: #8FA998;
      border-radius: 20px;
      padding: .8rem;
      color: white;
  }
  button:hover{
    background-color: #6c8174;
  }
}

.info-div{
  width: 60%;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 2rem;
  border: 1px solid #edf2f7;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin: 2rem auto;
  color: #4A403A;
  h3,h4{
    text-align: center;
    margin-bottom: 1.2rem;
  }
  p, ul{
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 1.2rem;
  }
  ul{
    list-style-position: inside;
    padding-left: 0;
  }
  li{
    margin-bottom: 0.5rem;
  }

  .p-p{
    text-align: center;
  }
}