
.table{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: .5rem;
 

  table{
  width: 50%;
  table-layout: fixed;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 2.5rem;
  border: 1px solid #edf2f7;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin-block-start: 7rem;
  cursor: pointer;
  overflow: hidden;
  
  th, tr, td{
    padding: 1rem;
    background-color: #ffffff;
    }

    h3{
      padding: 1rem;
    }

    button{
      background-color: #8FA998;
      border: #8FA998;
      border-radius: 20px;
      padding: .8rem;
      color: white;
    }
    button:hover{
      background-color: #6c8174;
    }

  }
}

.cita{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  h2{
    padding: 2rem;
  }
}
.cancelacion{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  h2{
    padding: 2rem;
  }
}