
.title{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.ppal-div{
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 2.5rem;
 

  .my-container{
  width: 60%;
  text-align: center;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 2rem;
  border: 1px solid #edf2f7;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin-block-start: 1.5rem;

   p{
    margin-block: 1.5rem;
   }

    table{
      width: 100%;
      border-collapse: collapse;
      margin-top: 1rem;
    }

    th,td{
      border: 1px solid #ccc;
      padding: 0.8rem;
      text-align: center;
    }

    th{
      background-color: #FDFBF7;
    }

    h3{
      padding: 1rem;
    }

    button{
      background-color: #8FA998;
      border: #8FA998;
      border-radius: 20px;
      padding: .8rem;
      color: white;
    }
    button:hover{
      background-color: #6c8174;
    }

  }
}

.cita{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  h2{
    padding: 2rem;
  }
}
.cancelacion{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  h2{
    padding: 2rem;
  }
}