.card-body{
  background-color:  #F5EFE6;
}

.card-title{
  text-align: center;
  margin-block-end: 1.5rem;
}

.card-text{
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  align-items: center;
}

.my-btn-card{
  background-color: #8FA998;
  border: #8FA998;
  display: flex;
  justify-content: end;
}

.my-btn-card:hover{
  background-color: #74897b;
}
.my-btn-modal{
  background-color: #D4896B;
  border: #D4896B;
  display: flex;
  justify-content: end;
}

.my-btn-modal:hover{
  background-color: #ac6c53;
}

.background-card{
  background-color: #8FA998;
  color: white;
}