.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  padding: 1rem 0;
}

.col1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  flex: 1; 
}

.col1 img {
  width: 20px;
}

.footer-p {
  margin-block-start: 0.5rem;
  font-size: 1.2rem;
  color: #4A403A;
}


.col2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  flex: 1; 
}

.col2 img {
  width: 30px;
  cursor: pointer;
}


@media (max-width: 992px) {
  .row {
    gap: 1rem;
  }
}


@media (max-width: 768px) {
  .row {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .col1, .col2 {
    justify-content: center;
    padding: 0.5rem;
  }

  .col1 img {
    width: 18px;
  }

  .col2 img {
    width: 25px;
  }

  .footer-p {
    font-size: 1rem;
    margin-block-start: 0.3rem;
  }
}