.nav-simbol{
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: brown;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: .5rem;
  cursor: pointer;
}

.navbar{
  background-color: #8FA998;
  color:#4A403A;

  img{
    width: 150px;
  }

  .my-btn{
    background-color: #D4896B;
    border: #D4896B; 
  }
  .my-btn:hover{
    background-color: #ac6c53;
  }
  
}