.nav-simbol{
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: brown;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: .5rem;
  cursor: pointer;
}

.navbar{
  background-color: #D4896B;
  color:#4A403A;

  .my-btn{
    border: #8FA998;
    background-color: #8FA998; 
  }
  .my-btn:hover{
    background-color: #6c8174;
  }
}