.navbar{
  background-color: #8FA998;
  color:#4A403A;

  img{
    width: 150px;
  }

  .my-btn{
    background-color: #D4896B;
    border: #D4896B; 
  }
  .my-btn:hover{
    background-color: #ac6c53;
  }
  
}