h2{
  padding: 0;
}

.login-ppal{
  display: flex;
  justify-content: center;
  padding: 4rem;

}



.my-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #F5EFE6; 
  border: 4px solid #D4896B;
  border-radius: 20px;
  box-shadow: 0 0 20px 20px #D4896B;
  color: #4A403A;
}

  .my-btn{
    border: #D4896B;
    background-color: #D4896B; 
  }
  .my-btn:hover{
    background-color: #da9c87;
  }
