.login-ppal{
  display: flex;
  justify-content: center;
  padding: 4rem;

}



.my-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #E8CFC7; 
  border: 4px solid #ae938a;
  border-radius: 20px;
  box-shadow: 0 0 20px 30px #da9c87;
}

.my-btn{
  background-color: #ae938a;
}