.about{
        background-color: #ffffff;
        border-radius: 1rem;
        padding: 2.5rem;
        border: 2px solid #8FA998;
        margin-block-start: 7rem;
        text-align: center;
}

.my-row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 3rem;
}