h2{
  text-align: center;
  padding: 3rem;
}

.my-col{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about{
  background-color: #ffffff;
  width: 50%;
  border-radius: 1rem;
  padding: 2rem;
  border: 2px solid #8FA998;
  text-align: center;
}

.about:nth-child(odd){
  align-self: flex-start;
}

.about:nth-child(even){
  align-self: flex-end;
}



@media (max-width: 768px) {
  .about {
    width: 100%;
    align-self: center 
  }
}



