.about{
          background-color: #ffffff;
        border-radius: 1rem;
        padding: 2.5rem;
        border: 1px solid #edf2f7;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        margin-block-start: 7rem;
        text-align: center;
}

.my-row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 3rem;
}